<div class="actualites-push">
  <div class="actualites-push__wrapper">
    <h2 class="actualites-push__title">Dernières infos</h2>
    <div class="actualites-push__items">
      {{ range first 4 (where .Data.Pages "Type" "actualites") }}
      <div class="actualites-push__item">
        {{ .Render "li" }}
      </div>
      {{ end }}
    </div>
    <div class="actualites-push__readmore">
      <a href="/actualites" class="actualites-push__readmore-link">Toutes les infos</a>
    </div>
  </div>
</div>
