<div class="actualites-push">
  <div class="actualites-push__wrapper">
    <header class="actualites-push__header">
      <h2 class="actualites-push__title">Dernières infos</h2>
      <a href="/actualites" class="actualites-push__readmore-link">Toutes les infos</a>
    </header>
    <div class="actualites-push__items">
      {{ range first 4 (where site.RegularPages "Type" "actualites") }}
      <div class="actualites-push__item">
        {{ .Render "news-card" }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
