<!-- Contact -->
<div class="form form--appel-sessions">
  <form action="/soumission" name="appel-conferences" data-netlify="true">
    <p>Les champs munis d'un astérisque sont obligatoires.</p>
    <div class="form__field">
      <label for="username" class="form__label">Votre identité (Nom, prénom ou pseudo)<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <input type="text" id="username" name="username" required="required" class="">
    </div>
    <div class="form__field">
      <label for="email" class="form__label">E-mail de contact pour nos échanges<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <input type="email" id="email" name="email" required="required" class="">
    </div>
    <div class="form__field">
      <label for="title" class="form__label">Titre de votre conférence<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <input type="text" id="title" name="title" required="required" class="">
    </div>
    <div class="form__field">
      <label for="duration" class="form__label">Durée de votre conférence<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <select id="duration" required="required" name="duration">
        <option value="20_min">20 minutes (Mini conférence)</option>
        <option value="40_min">40 minutes (Conférence, table ronde)</option>
        <option value="80_min">2x40 minutes (Formation, Conférence XXL)</option>
      </select>
    </div>
    <div class="form__field">
      <label for="expertise_level" class="form__label">Niveau d'expérience attendue de l'audience<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <select id="expertise_level" required="required" name="expertise_level">
        <option value="decouverte">Découverte</option>
        <option value="intermediaire">Intermédiaire</option>
        <option value="expertise">Maîtrise</option>
      </select>
    </div>
    <div class="form__field  form__field--block">
      <label for="teaser" class="form__label">Accroche qui résume votre proposition (moins de 200 signes)<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <textarea id="teaser" name="teaser" placeholder="" rows="5" cols="80" class="" required="required"></textarea>
    </div>
    <div class="form__field  form__field--block">
      <label for="prerequisites" class="form__label">Pré-requis (concepts ou connaissances particulières à connaître)<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <textarea id="prerequisites" name="prerequisites" placeholder="" rows="8" cols="80" class="" required="required"></textarea>
    </div>
    <div class="form__field  form__field--block">
      <label for="plan" class="form__label">Plan de la conférence (grandes lignes de votre présentation)<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <textarea id="plan" name="plan" placeholder="" rows="10" cols="80" class="" required="required"></textarea>
    </div>
    <div class="form__field  form__field--block">
      <label for="outcomes" class="form__label">Ce que vous aurez appris après avoir assisté à cette conférence<span class="required-info"><span class="sr-only"> Obligatoire</span></span></label>
      <textarea id="outcomes" name="outcomes" placeholder="" rows="5" cols="80" class="" required="required"></textarea>
    </div>
    <div class="form__field  form__field--block">
      <label for="notes_orga" class="form__label">Notes particulières pour l'équipe d'organisation ?</label>
      <textarea id="notes_orga" name="notes_orga" placeholder="Indisponibilités notoires..." rows="3" cols="80" class=""></textarea>
    </div>
    <div class="form__field  form__field--block">
      <label for="advisory_requested" class="form__label">J'aimerais que quelqu'un me conseille dans la préparation de ma conférence (préciser les attentes)</label>
      <textarea id="advisory_requested" name="advisory_requested" placeholder="Besoin de répétition, d'évaluer la pertinence de ma proposition, d'avoir un avis critique sur mon plan, recherche de binôme" rows="3" cols="80" class=""></textarea>
    </div>
    <div class="form__field form__field-rgpd">
      <div class="form__label">Charte de bonne conduite</div>
      <label for="event_cod" class="checkbox-label">
        <input id="event_cod" name="event_cod" type="checkbox" required="required"/>
        En soumettant cette proposition, j'adhère et m'engage à respecter
        <a href="/infos/charte/" title="Lire la charte de contribution de l'événement"> la charte de bonne conduite de l'événement</a>.<span class="required-info"><span class="sr-only"> Obligatoire</span></span>
      </label>
    </div>
    <div class="form__field form__field-rgpd">
      <div class="form__label">Consentement éclairé droit à l'image</div>
      <label for="accord_image" class="checkbox-label">
        <input id="accord_image" name="accord_image" type="checkbox" required="required"/>
        Je consens à donner mon accord pour l'enregistrement et la diffusion de ma conférence en audio et / ou vidéo sur la platforme choisie par l'association.<span class="required-info"><span class="sr-only"> Obligatoire</span></span>
      </label>
    </div>
    <div class="form__field form__field-rgpd">
      <div class="form__label">Consentement éclairé données personnelles</div>
      <label for="rgpd_consent" class="checkbox-label">
        <input id="rgpd_consent" name="rgpd_consent" type="checkbox" required="required"/>
        Je consens à ce que mes informations de contact soient stockées selon
        <a href="/mentions-légales#données-personnelles" title="Lire la politique de confidentialité du site">la politique de confidentialité du site</a>.<span class="required-info"><span class="sr-only"> Obligatoire</span></span>
      </label>
    </div>
    <div class="form__button">
      <button type="submit" class="">Envoyer</button>
    </div>
  </form>
</div>
