<!-- Contact -->
<div class="form form--contact">
  <h4 class="contact-form__title">Posez-nous votre question</h4>

  <form action="/soumission" name="contact-form" data-netlify="true">
    <p>Les champs munis d'un astérisque sont obligatoires.</p>
    <div class="form__field">
      <label for="name">Votre nom<span class="required-info"></span></label>
      <input type="text" id="name" name="name" required="required" placeholder="Comment devons-nous vous appeler ?" class="">
    </div>
    <div class="form__field">
      <label for="email">Votre e-mail<span class="required-info"></span></label>
      <input type="email" id="email" required="required" name="email" placeholder="Email" class="">
    </div>
    <div class="form__field  form__field--block">
      <label for="message">Votre message<span class="required-info"></span></label>
      <textarea id="message" required="required" name="message" placeholder="Contenu de votre demande" rows="8" cols="80" class=""></textarea>
    </div>
    <div class="form__field form__field-rgpd">
      <div class="form__label">Données personnelles</div>
      <label for="rgpd_consent" class="checkbox-label">
        <input id="rgpd_consent" name="rgpd_consent" type="checkbox" required="required"/>
        Je consens à ce que mes informations de contact soient stockées selon
        <a href="/mentions-légales#données-personnelles" title="Lire la politique de confidentialité du site">la politique de confidentialité du site</a>.<span class="required-info"><span class="sr-only"> Obligatoire</span></span>
      </label>
    </div>
    <div class="form__button">
      <button type="submit" class="">Envoyer</button>
    </div>
  </form>
</div>
