<footer class="site-extra">
  <div class="site-extra__wrapper">
    <div class="site-extra__newsletter">
      <p class="site-extra__newsletter-text">Ne manquez pas la prochaine actu !</p>
      <a href="/newsletter" class="site-extra__newsletter-link">S'inscrire à la newsletter</a>
    </div>

    {{ $sponsoring_types := dict
    "01_gold" "Formule Complète"
    "02_silver" "Formule Galette saucisse"
    }}
    {{ $sponsors_all := where .Site.RegularPages "Type" "sponsors" }}
    {{ $sponsors_all := $sponsors_all | intersect (where .Site.RegularPages "Params.sponsor_type" "in" (slice "01_gold" "02_silver")) }}
    {{ $sponsors_all := $sponsors_all | intersect (where .Site.RegularPages "Params.draft" "eq" false) }}

    {{ with $sponsors_all }}
      <div class="site-extra__sponsors collection-readmore--titled">
        <header class="collection-readmore__header">
          <h2 class="collection-readmore__title">Merci à nos sponsors principaux</h2>
          <a href="/sponsors" class="collection-readmore__readmore-link" title="Explorer la liste complète de nos sponsors">Tous nos sponsors</a>
        </header>
        <div class="site-extra__sponsors-collection collection-readmore__items">
          {{ range $sponsor_type_machine_name, $sponsor_type_label := $sponsoring_types }}
            {{ $type_filtered := where $sponsors_all "Params.sponsor_type" $sponsor_type_machine_name }}
            {{ $sponsors := $sponsors_all | intersect $type_filtered | shuffle }}
            {{ if $sponsors }}
            <ul class="site-extra__sponsors-type-items site-extra__sponsors-type-items--{{$sponsor_type_machine_name}}">
              {{ range $sponsors }}
              {{ .Scratch.Set "display_context" "default" }}
              <li class="site-extra__sponsors-type-item">{{ .Render "sponsor-logo" }}</li>
              {{ end }}
            </ul>
          {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}

    <div class="site-extra__links_collection">
      <div class="site-extra__column">
        <h3 class="site-extra__column-title">Drupalcamp Rennes 2024</h3>
        <ul class="site-extra__column-content">
          <li class="site-extra__column-item"><a href="/billetterie">Billetterie</a></li>
          <li class="site-extra__column-item"><a href="/sponsors">Sponsors</a></li>
          {{ $appel_page := .Site.GetPage "programme" "appel" }}
          {{ with $appel_page }}
            {{ if eq .Params.draft false }}
              <li class="site-extra__column-item"><a href="/programme/appel">Appel à conférences</a></li>
            {{ end }}
          {{ end }}

          {{ $access_page := .Site.GetPage "infos" "accès" }}
          {{ with $access_page }}
            {{ if eq .Params.draft false }}
              <li class="site-extra__column-item"><a href="/infos/accès">Accès</a></li>
            {{ end }}
          {{ end }}

          {{ $hosting_page := .Site.GetPage "infos" "hébergement" }}
          {{ with $hosting_page }}
            {{ if eq .Params.draft false }}
          <li class="site-extra__column-item"><a href="/infos/hébergement">Hébergement</a></li>
            {{ end }}
          {{ end }}
          <li class="site-extra__column-item"><a href="/mentions-légales">Mentions légales & confidentialité</a></li>
        </ul>
      </div>

      <div class="site-extra__column">
        <h3 class="site-extra__column-title">Restons en contact</h3>
        <ul class="site-extra__column-content">
          <li class="site-extra__column-item"><a href="/contact">Nous contacter</a></li>
          <li class="site-extra__column-item"><a href="/newsletter">Newsletter</a></li>
          <li class="site-extra__column-item"><a href="/actualites">Dernières informations</a></li>
        </ul>
        <h3 class="site-extra__column-title">Suivre l'association</h3>
        <ul class="site-extra__column-content">
          <li class="site-extra__column-item"><a href="https://drupal.fr" title="Accéder au site externe de l'association Drupal FR">Site officiel Drupal FR</a></li>
        </ul>
      </div>

      <div class="site-extra__column">
        <img src="/img/logo_dfr.svg" alt="Logo Drupal France" loading="lazy" />
        <ul class="site-extra__column-content site-extra__column-content--social">
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://drupal.community/@drupalfr" "picto" "icons-mastodon" "alt" "Drupal FR sur Mastodon") }}</li>
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/drupal-france-&-francophonie/" "picto" "icons-linkedin" "alt" "Drupal FR sur LinkedIn") }}</li>
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://twitter.com/drupalcampfr" "picto" "icons-twitter" "alt" "Drupal FR sur X") }}</li>
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://www.youtube.com/channel/UCIa6rzX4xvIu6eas8MZMCAw" "picto" "icons-youtube" "alt" "Drupal FR sur YouTube") }}</li>
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://www.facebook.com/groups/49522240874/" "picto" "icons-facebook" "alt" "Drupal FR sur Facebook") }}</li>
          <li class="site-extra__column-content-link">{{ partial "social-icon" (dict "link" "https://www.instagram.com/drupalfrance/" "picto" "icons-instagram" "alt" "Drupal FR sur Instagram") }}</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="images-credits">
    Icônes Noun Project CC BY 3.0 : (Infos - Putri Afifah Octaviani / Externe - Astri Widiastari Ritonga / Menu - Damian Hetman / Croix - andriwidodo)
  </p>
</footer>
