{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav aria-label="Menu principal" class="menu" xmlns="http://www.w3.org/1999/html">
  <a href="/" class="menu__logo" title="Page d'accueil">
    <img src="/img/logo_hermine.svg" alt="Une hermine baptisée Yuna, symbole de la Bretagne et mascotte du Drupalcamp." />
  </a>
  <div class="menu__site-promoted">
    <p class="menu__site-name">
      <button data-js-selector="navigation" aria-controls="nav-main" aria-label="Afficher la navigation"></button> <a href="/"><img src="/img/dcrennes_title_text.svg" alt="Drupalcamp Roazhon" class="site-title"/><br />
        <img src="/img/dcrennes_subtitle_text.svg" alt="Rennes, 28-30 mars 2024"  class="site-subtitle" />
      </a>
    </p>
    <p class="menu__tickets-push">
      <a href="/billetterie" title="Accéder à la billetterie et infos des tarifs">Billetterie</a>
    </p>
  </div>
  <ul class="menu__items" id="nav-main">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}

  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $li_classes := slice "menu__item" }}
    {{- $attrs := dict "href" .URL }}

    {{ if .Children }}
      {{- $li_classes = union $li_classes (slice "menu__item--submenu") }}
    {{ end }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
      {{- $li_classes = union $li_classes (slice "active") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}

    {{/* Aggregate li classes final string */}}
    {{ $class_str := "" }}
    {{ range $v := $li_classes }}
      {{ with $v }}
        {{ $class_str = printf "%s %s" $class_str $v}}
      {{ end }}
    {{ end }}
    <li class="{{$class_str}}">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ or (T .Identifier) .Name | safeHTML }}</a>
      {{- with .Children }}
        <ul class="menu__items menu__items--submenu">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
