<nav class="menu">

	<!-- Logo -->
	<a href="/" class="menu__logo">
		<img src="/img/logo_drupal_fr.png" alt="Logo Drupal France" />
	</a>

	<ul class="menu__items">
		<li><a href="/programme" class="menu__item">Programme</a></li>
		<li><a href="/communauté" class="menu__item">Communauté</a></li>
		<li><a href="/sponsors" class="menu__item">Sponsors</a></li>
		<li>Infos pratiques<ul class="menu__items menu__items--submenu">
			<li><a href="/infos/accès" class="menu__item">Accès</a></li>
			<li><a href="/infos/hébergement" class="menu__item">Hébergement</a></li>
		</ul></li>
		<li><a href="/actualites" class="menu__item">Actualités</a></li>
		<li><a href="/contact" class="menu__item">Contact</a></li>
	</ul>
</nav>
