<nav class="menu">

	<!-- Logo -->
	<a href="/" class="menu__logo">
		<img src="/img/logo_hermine.svg" alt="Logo Drupalcamp 2024" />
	</a>
	<p class="menu__site-name"><a href="/"><img src="/img/name-vecto.svg" alt="{{ $.Site.Title }}" /></a></p>

	<ul class="menu__items">
    <li class="menu__item"><a href="/actualites">Actualités</a></li>
<!--		<li class="menu__item"><a href="/programme">Programme</a></li>-->
<!--		<li class="menu__item"><a href="/communauté">Communauté</a></li>-->
		<li class="menu__item"><a href="/sponsors">Sponsors</a></li>
		<li class="menu__item menu__item--submenu"><a href="#">Infos pratiques</a><ul class="menu__items menu__items--submenu">
			<li class="menu__item"><a href="/infos/accès">Accès</a></li>
			<li class="menu__item"><a href="/infos/hébergement">Hébergement</a></li>
		</ul></li>
		<li class="menu__item"><a href="/contact">Contact</a></li>
	</ul>
</nav>
