{{ $image := .logo }}
{{ $dim := "" }}
{{ $type := .type }}
{{ with $image }}
  {{ $size := 60 }}
  {{ if eq $type "01_gold" }}
    {{ $size = 120 }}
  {{ else if eq $type "02_silver"  }}
    {{ $size = 80 }}
  {{ end }}
  {{ if gt $image.Height $image.Width }}
    {{ $dim = printf "%s%d" "x" $size }}
  {{ else }}
    {{ $dim = printf "%d%s" $size "x" }}
  {{ end }}
  {{ $image = $image.Resize $dim }}
  <img class="sponsor-logo__image" alt="" loading="lazy"
       src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" />
{{ end }}
