$blue-pastel-sky: #e3f5fb;
$blue-pastel: #e5eef1;
$blue-pastel-sky-gray:  #cfe8f5;
$blue-pastel-sky-grayer:  #b3cdd4;

$blue-aqua: #70dcff;
$blue-night: #2a7fca;
$blue-ocean:  #42afce;
$blue-ocean-deep:  #1b91af;
$blue-ocean-deeper:  #17809b;

$black: #1D2D35;

$white-light: #f5fbfd;

$gray-light: #e9ecef;

$pink: #bd3c6d;
$pink-dark: #ac1950;

$grass: #28a108;
$grass-wet: #208206;
$grass-wetter: #1e620f;

:root {
  --site-background-color: #{$white-light};
  --text-color: #{$black};
  --link-color: #{$blue-ocean};
  --logo-background: #{$blue-aqua};

  --nav-submenu-background: white;
  --nav-mobile-active-background: #{$blue-pastel-sky};
  --nav-mobile-active-hover: #{$blue-pastel-sky-gray};
  --nav-mobile-active-text: #{$blue-night};

  --accent-color: #{$blue-ocean};
  --accent-color-border: #{$blue-ocean-deep};
  --accent-complement: #{$pink};
  --accent-complement-hover: #{$pink-dark};
  --accent-alternative: #{$grass};
  --accent-alternative-hover: #{$grass-wetter};

  --newsletter-push-background: #{$grass};
  --newsletter-push-text: white;
  --newsletter-push-link-background: white;
  --newsletter-push-link-text: #{$grass};
  --newsletter-push-link-hover-background: #{$grass-wetter};
  --newsletter-push-link-hover-text: white;

  --news-card-border: #{$gray-light};
  --news-card-background: white;

  --package-advantage-out: #{$pink};
  --package-advantage-in: #{$grass};
  --sponsors-list-background: white;
  --sponsors-list-border: #{$gray-light};

  --table-border: #{$blue-pastel-sky-grayer};
  --table-alternate-background: #{$blue-pastel};
  --table-accent-background: #{$blue-ocean-deeper};
  --table-head-text: #{$blue-ocean-deeper};

  --jumbotron--text: white;

  --cta-background: #{$pink};
  --cta-text: white;
  --cta-hover-background: #{$pink-dark};
  --cta-hover-text: white;
}

/* Structural */
.content-container {
  margin: auto;
  padding: 1rem 2rem;
  @include media('>=phablet') {
    width: 425px;
    padding: 1rem 1rem;
  }
  @include media('>=tablet') {
    width: 680px;
    padding: 2rem 2rem;
  }
  @include media('>=desktop') {
    width: 960px;
    padding: 2rem 0rem;
  }
  @include media('>=wide') {
    width: 1140px;
  }
}
.main-content {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
.images-credits {
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.7;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/* END - Structural */
