$blue-pastel-sky: #e3f5fb;
$blue-pastel: #e5eef1;
$blue-pastel-sky-gray:  #cfe8f5;
$blue-pastel-sky-grayer:  #b3cdd4;

$blue-aqua: #42c2ec;
$blue-night: #2072b6;
$blue-ocean:  #267C9F;
$blue-ocean-deep: #186e8f;
$blue-ocean-deeper: #0c4c67;
$blue-marine-deep: #023b5f;
$blue-marine-deeper: #03304c;

$black: #1D2D35;

$white: #FFFFFF;
$white-light: #f5fbfd;

$gray-light: #e9ecef;
$gray-dark: #3b3e3d;

$brick: #b9850a;

$pink: #bd3c6d;
$pink-dark: #ac1950;

$parma: #e4d8fd;
$parma-dark: #432480;

$grass: #0E855D;
$grass-wet: #05704c;
$grass-wetter: #04593d;

:root {
  --site-background-color: #{$white-light};
  --text-color: #{$black};
  --link-color: #{$blue-ocean};

  --nav-submenu-background: white;
  --nav-mobile-active-background: #{$blue-pastel-sky};
  --nav-mobile-active-hover: #{$blue-pastel-sky-gray};
  --nav-mobile-active-text: #{$blue-night};

  --tickets-push-link: #{$gray-dark};

  --accent-color: #{$blue-ocean};
  --accent-color-border: #{$blue-ocean-deep};
  --accent-complement: #{$pink};
  --accent-complement-hover: #{$pink-dark};
  --accent-alternative: #{$grass};
  --accent-alternative-hover: #{$grass-wetter};

  --newsletter-push-background: #{$blue-marine-deep};
  --newsletter-push-text: white;
  --newsletter-push-link-background: white;
  --newsletter-push-link-text: #{$blue-marine-deep};
  --newsletter-push-link-hover-background: #{$blue-marine-deeper};
  --newsletter-push-link-hover-text: white;

  --news-card-border: #{$gray-light};
  --news-card-background: white;

  --tree-card-border: #{$gray-light};
  --tree-card-background: white;

  --package-advantage-out: #{$pink};
  --package-advantage-in: #{$grass};
  --sponsors-list-background: white;
  --sponsors-list-border: #{$gray-light};
  --sponsors-card-background: #{$parma};
  --sponsors-card-link: #{$parma-dark};
  --sponsors-card-type-background: #{$parma-dark};
  --sponsors-card-type-text: #{$white};

  --table-border: #{$blue-pastel-sky-grayer};
  --table-alternate-background: #{$blue-pastel};
  --table-accent-background: #{$blue-ocean-deeper};
  --table-head-text: #{$blue-ocean-deeper};

  --jumbotron--text: white;

  --cta-background: #{$pink};
  --cta-text: white;
  --cta-hover-background: #{$pink-dark};
  --cta-hover-text: white;

  --session-level-basic: #{$grass};
  --session-level-medium: #{$blue-night};
  --session-level-hard: #{$pink-dark};

  --coupure-about-background: #{$blue-ocean};
  --coupure-list-background: #{$blue-ocean};

  --form-required: #{$pink-dark};

  --footer-background: #{$blue-marine-deep};
  --footer-text: #{$blue-aqua};
  --footer-link: white;
  --footer-link-hover: #{$blue-aqua};

  --container-width: 240px;
  @include media('>=narrow') {
    --container-width: 315px;
  }
  @include media('>=phablet') {
    --container-width: 430px;
  }
  @include media('>=tablet') {
    --container-width: 680px;
  }
  @include media('>=desktop') {
    --container-width: 960px;
  }
  @include media('>=wide') {
    --container-width: 1140px;
  }
}

/* Structural */
.content-container {
  margin: auto;
  padding: 1rem 2rem;
  @include media('>=tablet') {
    padding: 2rem 2rem;
  }
  @include media('>=desktop') {
    padding: 1.5rem 0rem;
  }
  // Adjust width dynamically.
  width: var(--container-width);
}
.main-content {
  margin-block-start: 2rem;
  margin-block-end: 5rem;
}
.images-credits {
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.7;
  padding-block-start: 1rem;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.map-sortir {
  text-align: center;
  margin-block-start: 1rem;
  iframe {
    aspect-ratio: 4/4;
    height: auto;
    width: 100%;
    @include media('>=desktop') {
      width: 600px;
    }
    @include media('>=wide') {
      width: 900px;
    }
  }
}
/* END - Structural */
