{{ define "main" }}

<main class="main-content">
  <h1>S'abonner à la newsletter du Drupalcamp Rennes</h1>
  {{ .Content }}
  <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://04m7u.mjt.lu/wgt/04m7u/kq9/form?c=911cec83" width="100%" style="height: 0;"></iframe>

  <script type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>

  <p>
    En vous inscrivant à la newsletter, vous serez soumis à <a href="https://www.mailjet.com/fr/legal/politique-confidentialite/">la politique de confidentialité de notre fournisseur Mailjet</a>.<br />
    <a href="/mentions-légales">Notre politique de confidentialité</a> est également disponible.
  </p>
</main>

{{ end }}
