.conference-full__header {
  margin-block-end: 3rem;
  background-color: #d9f5ff;
  border: 8px solid var(--accent-color-border);
  border-radius: 15px;
  padding: 0rem;
  box-shadow: var(--accent-color-border) 6px 5px 0px;
}
.conference-full__title {
  letter-spacing: -3px;
  font-size: 3rem;
  margin-block-start: 0;
  padding: 2rem 2rem 0;
}
.session-level {
  border: solid 1px green;
  color: green;
  border-radius: 5px;
  padding: 0 0.5rem;
  margin-inline-end: 0.5rem;
}
.session-level--intermediaire {
  border-color: #b9850a;
  color: #b9850a;
}
.session-level--expertise {
  border-color: #b72338;
  color: #b72338;
}

.conference-full__meta {
  display: flex;
  border-block-start: solid var(--accent-color-border);
  padding: 0;
  justify-content: center;
  gap: 0;
  margin: 0;
}
.conference-full__meta-item {
  list-style: none;
  padding: 1rem 4rem;
  border-inline-end: solid var(--accent-color-border);
  &:last-child {
    border-inline-end: none;
  }
}
.icon--session {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.conference-full__teaser {
  font-style: italic;
  font-size: 1.5rem;
  margin-block-end: 3rem;
  letter-spacing: -1px;
  line-height: 1.5;
  border-inline-start:solid 5px var(--accent-color-border);
  padding-inline-start: 0.8rem;
}
.conference-full__teaser p {
  margin: 0.5rem 0;
}
