/* Illustrated Card */
.illustrated-card {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  @include media('>=tablet') {
    flex-direction: row;
  }
}
.illustrated-card__content {
  flex: 1 0 min-content;
}
.illustrated-card__title {
  margin-block-start: 0;
}
.illustrated-card__image {
  border-radius: 10rem;
  flex: 0 1 10rem;
  max-width: 10rem;
  aspect-ratio: 1/1;
}
/* END - Illustrated Card */
