/* MENU */
.menu {
  display: grid;
  grid-template-areas: "promoted"
    "menu";
  margin-block-end: 2rem;
  @include media('>=tablet') {
    grid-template-areas: "logo promoted"
    "menu menu";
    grid-template-columns: 100px 1fr;
  }
  @include media('>=desktop') {
    margin-block-end: 3rem;
    grid-template-areas: "logo promoted"
    "logo menu";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 60px;
    grid-row-gap: 0;
    grid-column-gap: 1rem;
  }
  @include media('>=desktop') {
    grid-column-gap: 2rem;
  }
}

.menu__logo {
  display: none;
  @include media('>=tablet') {
    grid-area: logo;
    display: inline-block;
  }
  @include media('>=desktop') {
    display: inline-block;
  }

  > img {
    width: 100%;
  }
}

.menu__site-name {
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: -2.5px;
  margin: 0;
  display: flex;
  gap: 0.7rem;
  line-height: 1.5;
  @include media('>=desktop') {
    max-width: 500px;
    display: block;
  }
  > button {
    border: none;
    background: none;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: '';
      width: 30px;
      height: 32px;
      display: block;
      -webkit-mask-image: url("/icons/menu.svg");
      mask-image: url("/icons/menu.svg");
      mask-repeat: no-repeat;
      background-color: currentColor;
      mask-size: 100% 100%;
      mask-position-y: 2px;
    }
    &.js-close:before {
      -webkit-mask-image: url("/icons/close.svg");
      mask-image: url("/icons/close.svg");
      mask-size: 32px 39px;
      mask-position-y: -1px;
      mask-position-x: -1px;
    }
    @include media('>=desktop') {
      display: none;
    }
  }
  img {
    @include media('<desktop') {
      width: 100%;
    }
  }
  .site-title {
    max-width: 500px;
  }
  .site-subtitle {
    max-width: 300px;
  }
}

.menu__site-promoted {
  grid-area: promoted;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media('>=tablet') {
    align-items: center;
  }
  @include media('>=desktop') {
    gap: 2rem;
    padding-block-start: 1.5rem;
    flex-direction: row;
  }
}
.menu__tickets-push {
  display: none;
  @include media('>=desktop') {
    display: block;
  }
}
.menu__tickets-push.js-close {
  display: block;
}
.menu__tickets-push a {
  background-color: var(--tickets-push-link);
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;

  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.5px;
  text-decoration: none;
  white-space: nowrap;
  &:before {
    content: '';
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-inline-end: 0.5rem;
    -webkit-mask-image: url("/icons/ticket.svg");
    mask-image: url("/icons/ticket.svg");
    mask-repeat: no-repeat;
    background-color: currentColor;
    vertical-align: middle;
  }
}
.menu__items {
  display: none;
  grid-area: menu;
  flex-direction: column;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  &[aria-expanded=true] {
    display: flex;
    .menu__items--submenu {
      display: flex;
    }
  }

  @include media('>=desktop') {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.menu__item {
  list-style: none;
  &.active:not(.menu__item--submenu) a {
    background-color: var(--nav-mobile-active-background);
    border-radius: 0.5rem;
    color: var(--nav-mobile-active-text);
  }
  &:hover:not(.menu__item--submenu),
  &:focus:not(.menu__item--submenu),
  &:focus-visible:not(.menu__item--submenu) {
    a {
      background-color: var(--nav-mobile-active-hover);
      border-radius: 0.5rem;
    }
  }
}
.menu__item a {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -0.5px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  padding: 0.6rem 1rem;
}
.menu__item--submenu {
  @include media('>=desktop') {
    position: relative;
    &:after {
      color: var(--accent-color);
      content: '✚';
      opacity: 0.7;
      font-size: 0.75em;
      position: absolute;
      inset-block-start: 11px;
      inset-inline-end: -3px;
    }
    &:hover .menu__items--submenu,
    &:focus .menu__items--submenu,
    .menu__items--submenu:focus-within {
      opacity: 1;
      transform: none;
      z-index: 10;
    }
  }
}

.menu__items--submenu {
  padding-inline-start: 0.8rem;
  @include media('>=desktop') {
    position: absolute;
    inset-inline-end: 0;
    top: 100%;
    display: flex;
    flex-flow: column;
    align-items: self-start;
    padding: 1em;
    gap: 0.5em;
    background-color: var(--nav-submenu-background);
    border-radius: 0.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 5px 30px rgba(0, 0, 0, 0.05);
    transition: all 0.10s ease;
    /* hide it by default */
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
}
/* END - MENU */
