.site-extra__links_collection {
  @include media('>=tablet') {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
.site-extra__column {
  @include media('>=tablet') {
    flex: 0 0 auto;
  }
}
.site-extra__column-title {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}
.site-extra__column-content {
  margin-top: 0;
  padding-inline-start: 1rem;
}
.site-extra__column-content--social {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.site-extra__column-content-link {
  list-style: none;
  margin: 0;
  a:after {
    content: none;
  }
}

.site-extra__sponsors {
  background-color: var(--sponsors-list-background);
  border: solid 1px var(--sponsors-list-border);
  border-radius: 12px;
  font-size: 1rem;
  color: var(--text-color);
  padding: 1rem 1.5rem;
  margin-block-end: 2rem;
}
.collection-readmore__items.site-extra__sponsors-collection {
  @include media('>=desktop') {
    grid-template-columns: 1fr 2fr;
  }
}
.site-extra__sponsors-type-items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  @include media('>=desktop') {
    &:last-child {
      border-inline-start: solid 1px $gray-light;
      padding-inline-start: 2rem;
    }
  }
  &--01_gold {
    align-items: center;
    justify-content: center;
  }
  &--02_silver {
    flex-wrap: nowrap;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    .site-extra__sponsors-type-item {
      scroll-snap-align: start;
    }
    @include media('>=desktop') {
      overflow: initial;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
.site-extra__sponsors-type-item {
  list-style: none;
  text-align: center;
  font-size: 0.85rem;
}
.site-extra__sponsors-type-items--01_gold .sponsor-logo__image-frame {
  width: 120px;
  height: 120px;
}
.site-extra__sponsors-type-items--02_silver .sponsor-logo__image-frame {
  width: 80px;
  height: 80px;
}

.site-extra__newsletter {
  background-color: var(--newsletter-push-background);
  font-weight: bold;
  color: var(--newsletter-push-text);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
  flex-direction: column;
  gap: 1rem;
  @include media('>=desktop') {
    flex-direction: row;
  }
}
.site-extra__newsletter-text {
  margin: 0;
}
.site-extra__newsletter-link {
  background-color: var(--newsletter-push-link-background);
  padding: 0.5rem;
  border-radius: 4px;
  color: var(--newsletter-push-link-text);
  text-transform: uppercase;
  transition: all 200ms;
  text-align: center;
  &:hover {
    background-color: var(--newsletter-push-link-hover-background);
    color: var(--newsletter-push-link-hover-text);
    text-decoration: none;
  }
}
.icon.icon--social {
  width: 30px;
  height: 30px;
}
