{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "credits" .Params.credits) }}

<main class="main-content">
  <div class="schedule-details">

    {{ .Content }}

    <table>
      <caption id="programme-jeudi">Programme des conférences pour le jeudi 28 mars</caption>
      <thead>
      <tr>
        <th>Horaires</th>
        <th>Auditorium</th>
        <th>S012 (rez-de-chaussée)</th>
        <th>S205 (étage)</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-split">
        <td class="row-title">8h30 - 9h15</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Café d'accueil</p>
            <p class="highlighted-item_details">
              Récupération de votre badge, première dose de caféine pour lancer votre journée.
            </p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">9h15 - 9h45</td>
        <td class="highlight">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Accueil et présentation de l'événement</p>
            <p class="highlighted-item_details">Présentation des journées, des salles et des temps forts.</p>
          </div>
        </td>
        <td class="empty-room" colspan="2">Pas de conférence</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">9h45 - 10h30</td>
        <td class="highlight">
          <div class="conference-teaser session-level--pleniere">
            <p class="conference-teaser__title"><a href="/programme/conferences/observateur-responsable/">D’observateur à responsable : enrayer l’impact des biais racistes dans l'expérience utilisateur</a></p>
            <ul class="conference-teaser__meta">
              <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                Marcy Charollois</li>
            </ul>
          </div>
        </td>
        <td class="empty-room" colspan="2">Pas de conférence</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">10h30 - 11h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Pause café</p>
            <p class="highlighted-item_details">C'est le moment de faire connaissance avec vos voisins.</p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">11h00 - 11h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#10" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#12" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td class="contrib-room" rowspan="2">
          <div class="contrib-room-wrapper">
            <div class="conference-teaser session-level--contrib">
              <p class="conference-teaser__title"><a href="/programme/conferences/formation-initiation/">Formation initiation Drupal découverte</a></p>
              <ul class="conference-teaser__meta">
                <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                  Association Drupal France et francophonie</li>
                <li class="conference-teaser__themes conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-caution" "alt" "") }}
                  15 places maximum </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">11h45 - 12h30</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#33" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#18" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">12h30 - 14h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Déjeuner</p>
            <p class="highlighted-item_details">Vous voyez les coupons qui vous ont été donnés à votre arrivée ? C'est le moment de vous en servir.</p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">14h00 - 14h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#63" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#05" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td class="contrib-room" rowspan="2">
          <div class="contrib-room-wrapper">
            <div class="conference-teaser session-level--contrib">
              <p class="conference-teaser__title"><a href="/programme/conferences/formation-initiation/">Formation initiation Drupal découverte (suite)</a></p>
              <ul class="conference-teaser__meta">
                <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                  Association Drupal France et francophonie</li>
                <li class="conference-teaser__themes conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-caution" "alt" "") }}
                  15 places maximum </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">14h45 - 15h30</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#32" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#44" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">15h30 - 16h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Pause café</p>
            <p class="highlighted-item_details">Demandez à 3 personnes comment elles ont découvert Drupal, vous devriez avoir 3 histoires originales.</p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="row-title" rowspan="2">16h00 - 16h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#25" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#47" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td class="contrib-room" rowspan="5">
          <div class="contrib-room-wrapper">
            <div class="conference-teaser session-level--contrib">
              <p class="conference-teaser__title"><strong>Espace pour la contribution</strong></p>
            </div>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td>{{ range where .Site.Pages ".Params.session_id" "#57" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#61" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">16h45 - 17h30</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#56" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#50" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr>
        <td class="row-title" rowspan="2">17h30 - 18h15</td>
        <td rowspan="2">{{ range where .Site.Pages ".Params.session_id" "#46" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#21" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td>{{ range where .Site.Pages ".Params.session_id" "#40" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">18h15 - 19h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Verre de l'amitié</p>
            <p class="highlighted-item_details">Cette première journée a dû activer vos méninges, partageons autour d'un verre et d'un grignotage ce que vous avez retenu.</p>
          </div>
        </td>
      </tr>
    </table>

    <table>
      <caption id="programme-vendredi">Programme des conférences pour le vendredi 29 mars</caption>
      <thead>
      <tr>
        <th>Horaires</th>
        <th>Auditorium</th>
        <th>S012 (rez-de-chaussée)</th>
        <th>S205 (étage)</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-split">
        <td class="row-title">9h00 - 9h30</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Café d'accueil</p>
            <p class="highlighted-item_details">
              Dis donc, vous en avez des petits yeux ? La soirée s'est terminée tard ? Allez, prenez une boisson chaude, ça va vous réveiller.
            </p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">9h30 - 9h45</td>
        <td class="highlight">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Session d'accueil</p>
            <p class="highlighted-item_details">C'est reparti pour un tour, on vous partage les infos du jour à connaître.</p>
          </div>
        </td>
        <td class="empty-room" colspan="2">Pas de conférence</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">9h45 - 10h30</td>
        <td class="highlight">
          <div class="conference-teaser session-level--pleniere">
            <p class="conference-teaser__title"><a href="/programme/conferences/frankenphp/">Avec FrankenPHP, PHP revient d'entre les morts</a></p>
            <ul class="conference-teaser__meta">
              <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                Kévin Dunglas</li>
            </ul>
          </div>
        </td>
        <td class="empty-room" colspan="2">Pas de conférence</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">10h30 - 11h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Pause café</p>
            <p class="highlighted-item_details">Pas mal cette plénière, on prend le temps d'en discuter.</p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title" rowspan="2">11h00 - 11h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#54" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#34" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td class="contrib-room" rowspan="3">
          <div class="contrib-room-wrapper">
            <div class="conference-teaser session-level--contrib">
              <p class="conference-teaser__title"><a href="/programme/conferences/atelier-contrib/">Atelier se lancer dans la contrib (tout niveau)</a></p>
              <ul class="conference-teaser__meta">
                <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                  Association Drupal France et francophonie</li>
              </ul>
            </div>
          </div></td>
      </tr>
      <tr class="row-split">
      </tr>
      <tr class="row-split">
        <td class="row-title">11h45 - 12h30</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#58" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#37" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">12h30 - 14h00</td>
        <td class="highlight" colspan="3">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Déjeuner</p>
            <p class="highlighted-item_details">C'était tellement bon hier ! J'espère que ça sera aussi bien ce midi. C'est bon, j'ai mon coupon.</p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">14h00 - 14h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#35" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#19" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td class="contrib-room" rowspan="6">
          <div class="contrib-room-wrapper">
            <div class="conference-teaser session-level--contrib">
              <p class="conference-teaser__title"><strong>Espace pour la contribution</strong></p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="row-title" rowspan="2">14h45 - 15h30</td>
        <td rowspan="2">{{ range where .Site.Pages ".Params.session_id" "#14" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#27" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td>{{ range where .Site.Pages ".Params.session_id" "#43" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">15h30 - 16h00</td>
        <td class="highlight" colspan="2">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Pause café</p>
            <p class="highlighted-item_details">Les paupières commencent à être lourdes, un petit de sucre pour terminer en forme.</p>
          </div>
        </td>
      </tr>
      <tr class="row-split">
        <td class="row-title">16h00 - 16h45</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#64" }}{{ .Render "conference-teaser" }}{{ end }}</td>
        <td>{{ range where .Site.Pages ".Params.session_id" "#60" }}{{ .Render "conference-teaser" }}{{ end }}</td>
      </tr>
      <tr class="row-split">
        <td class="row-title">16h45 - 17h30</td>

        <td class="highlight">
          <div class="conference-teaser session-level--pleniere">
            <p class="conference-teaser__title"><a href="/programme/conferences/103-adff/">Association Drupal France et francophonie, questions & réponses</a></p>
            <ul class="conference-teaser__meta">
              <li class="conference-teaser__speakers conference-teaser__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}
                Le bureau de l'asso et vous !</li>
            </ul>
          </div>
        </td>
        <td class="empty-room">Pas de conférence</td>
      </tr>
      <tr class="row-split">
        <td class="row-title" rowspan="2">17h30 - 18h15</td>
        <td class="highlight">
          <div class="highlighted-item">
            <p class="highlighted-item_label">Plénière de clôture</p>
            <p class="highlighted-item_details">C'est déjà terminé ? On se dit au revoir correctement et on vous parle de samedi.</p>
          </div>
        </td>
        <td class="empty-room" colspan="2">Pas de conférence</td>
      </tr>
    </table>
    <h3 id="programme-samedi">Programme du samedi</h3>
    <p>Nous disposerons d'une grande salle ouverte de 9h30 à 17h00 pour la contribution. Des sandwiches vous seront proposés pour le déjeuner.</p>
    <p>Pour savoir sur quoi contribuer, c'est vous qui faites le programme. <br />
      Voilà <a href="https://docs.google.com/spreadsheets/d/19w63lZmsVsGeuO_M9mQ0y4NL_oSvU7-PlVSRpuPuyjo/edit?usp=sharing">un document collaboratif pour trouver les sujets de contribution proposés</a> et identifier qui souhaite s'impliquer. Vous êtes encouragés à ajouter les thèmes sur lesquels vous pouvez être moteurs.</p>
  </div>

</main>

{{end}}
