{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "credits" .Params.credits) }}

<main class="main-content">
  {{ .Content }}

  {{ partial "cta" (dict "title" "Devenir sponsor vous intéresse ?" "description" "Vous avez pris le temps d'évaluer la grille ci-dessous et avez repéré la formule qui vous convient. Contactez-nous pour que nous vous la réservions.<br />Vous avez une demande particulière ? Contactez-nous." "link_url" "/sponsors/contact-sponsors/" "link_label" "Devenir sponsor") }}

  <table class="sponsoring">
    <caption>Grille des formules pour sponsors</caption>
    <thead>
    <tr>
      <th>Quelle formule vous tente ?</th>
      <th>La complète</th>
      <th>Galette saucisse</th>
      <th>Beurre sucre</th>
      <th>Sponsor libre</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="row-title">Tarif (TTC, TVA 0%)</td>
      <td>2 500 €</td>
      <td>750 €</td>
      <td>250 €</td>
      <td>Libre</td>
    </tr>
    <tr>
      <td class="row-title">Nombre disponible</td>
      <td>4</td>
      <td>10</td>
      <td>20</td>
      <td>Illimité</td>
    </tr>
    <tr>
      <td class="row-title">Nombre restant</td>
      <td>Aucun</td>
      <td>Aucun</td>
      <td>18</td>
      <td>Illimité</td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Avantages</td>
    </tr>
    <tr>
      <td class="row-title">Nombre de pass 3 jours inclus</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Votre page sponsor sur le site</td>
    </tr>
    <tr>
      <td class="row-title">Mise en avant d'une vidéo promotion (vidéo à fournir)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">1 à 3 offres d'emploi</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Page dédiée pour partager sur les réseaux sociaux</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Visibilité site Drupalcamp</td>
    </tr>
    <tr>
      <td class="row-title">Visible sur toutes les pages (logo à fournir)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Visible sur page des sponsors de l'évènement (logo à fournir)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
    </tr>
    <tr>
      <td class="row-title">Badge sponsor pour votre site</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Programme</td>
    </tr>
    <tr>
      <td class="row-title">Logo sur programme papier</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Signalétique</td>
    </tr>
    <tr>
      <td class="row-title">Logo sur les diapositives des intervenants</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Kakémono dans l'auditorium / salle restauration J1+J2 (à fournir)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Kakémono dans la salle de contribution J3 (à fournir)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Kakémono dans la salle secondaire J1+J2</td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Mise à disposition de contenu promotionnel sur tables pendant les pauses</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Réseaux sociaux / Communication</td>
    </tr>
    <tr>
      <td class="row-title">Message aux participants dans la newsletter</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Visibilité logo dans la newsletter aux participants</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Communication réseaux sociaux avant l'événement</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Communication réseaux sociaux pendant l'événement</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr class="group-title">
      <td colspan="5">Sessions plénières</td>
    </tr>
    <tr>
      <td class="row-title">Intervention introductive (2 minutes)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Vidéo à projeter en début de conférence plénière</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    <tr>
      <td class="row-title">Mention pendant conférences plénières (début / fin)</td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-yes"><span class="sr-only">Oui</span></td>
      <td class="option-no"><span class="sr-only">Non</span></td>
    </tr>
    </tbody>
  </table>
  <p>
    Pour devenir un sponsor libre, il suffit de faire un don lors de votre passage sur <a href="/billetterie">la billetterie du Drupalcamp</a>.
  </p>
  <p>
    Pour plus de détails sur le contexte de l'événement, le contenu des formules et les modalités de réservation, rendez-vous sur <a href="https://docs.google.com/presentation/d/1xtokb7HcgeYs0wcmJ3yicFY3R9Ac5GfC/edit?usp=sharing&ouid=103081059861166883538&rtpof=true&sd=true">le document de présentation des formes de soutien</a>.
  </p>
</main>

{{ end }}
