{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "credits" .Params.credits) }}

<main class="main-content">
  {{ .Content }}
  {{ $sponsoring_types := dict
  "01_gold" "Menhir"
  "02_silver" "Paquetage de marin"
  "03_bronze" "Paquet de biscuits"
  }}
  {{ $sponsors_all := where .Site.RegularPages "Type" "sponsors" }}
  {{ $sponsors_all := $sponsors_all | intersect (where .Site.RegularPages "Params.draft" "eq" false) }}
  {{ $sponsors_all := $sponsors_all | intersect (where .Site.RegularPages "Params.sponsor_type" "in" (slice "01_gold" "02_silver" "03_bronze")) }}

  {{ with $sponsors_all }}
    <div class="sponsors-collection-full">
      {{ range $sponsor_type_machine_name, $sponsor_type_label := $sponsoring_types }}
      {{ $type_filtered := where $sponsors_all "Params.sponsor_type" $sponsor_type_machine_name }}
      {{ $sponsors := $type_filtered | intersect $sponsors_all | shuffle }}
      {{ if $sponsors }}
      <h3 class="sponsors-collection-full__label">{{ $sponsor_type_label }}</h3>
      <ul class="sponsors-collection-full__level_wrapper sponsor-level-collection site-extra__sponsors-type-items--{{$sponsor_type_machine_name}}">
        {{ range $sponsors }}
        {{ .Scratch.Set "display_context" "maximize" }}
        <li class="sponsor-level-collection__entry">{{ .Render "sponsor-logo" }}</li>
        {{ end }}
      </ul>
      {{ end }}
      {{ end }}
    </div>
  {{ end }}
  {{ partial "cta" (dict "title" "Soutenez l'événement" "description" "Vous êtes une structure et souhaitez soutenir l'organisation de l'événement ? Nous avons besoin de sponsors et vous pouvez aider le Drupalcamp de plusieurs façons. Découvrez le tarif des packs et les contreparties proposées." "link_url" "/sponsors/grille" "link_label" "Découvrir les packs" "link_title" "Découvrir les différents packs de sponsoring") }}
</main>
{{end}}
