<a href="{{ .Params.sponsor_site }}" class="sponsor-logo" title="Visiter le site du sponsor {{ .Title }}">
  {{ $image := .Resources.Get .Params.sponsor_logo }}
  {{ $dim := "" }}
  {{ $type := .Params.sponsor_type }}
  {{ with $image }}
    {{ $size := 60 }}
    {{ if eq $type "gold" }}
      {{ $size = 120 }}
    {{ else if eq $type "silver"  }}
      {{ $size = 80 }}
    {{ end }}
    {{ if gt $image.Height $image.Width }}
      {{ $dim = printf "%s%d" "x" $size }}
    {{ else }}
      {{ $dim = printf "%d%s" $size "x" }}
    {{ end }}
    {{ $image = $image.Resize $dim }}
    <div class="sponsor-logo__image-frame">
      <img class="sponsor-logo__image" alt="" loading="lazy"
           src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" />
    </div>
  {{ end }}
  {{ .Title }} <span class="sr-only">Sponsor {{ .Params.sponsor_type }}</span>
</a>
