<div class="map-sortir">
  <iframe frameborder="0" allowfullscreen allow="geolocation"
          src="https://umap.openstreetmap.fr/fr/map/dc-rennes-2024_949518?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true#15/48.1048/-1.6942"></iframe>
    <p><a
      href="https://umap.openstreetmap.fr/fr/map/dc-rennes-2024_949518?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true#15/48.1048/-1.6942">
      Ouvrir la carte dans une nouvelle page</a></p>
</div>
