<div class="map-sortir">
  <iframe frameborder="0" allowfullscreen allow="geolocation"
          src="https://umap.openstreetmap.fr/fr/map/dc-rennes-2024_949518?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=expanded&onLoadPanel=none&captionBar=true&captionMenus=true#17/48.10518/-1.67647"></iframe>
    <p><a
      href="https://umap.openstreetmap.fr/fr/map/dc-rennes-2024_949518?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=expanded&onLoadPanel=none&captionBar=true&captionMenus=true#17/48.10518/-1.67647">
      Ouvrir la carte dans une nouvelle page</a></p>
</div>
