{{ define "main" }}
{{ $permalink := .Page.Permalink }}
{{ $audience := replace .Params.audience "é" "e" }}
{{ $audience = replace $audience "è" "e" }}

<main class="main-content">
  <div class="conference-full session-level--{{ $audience | urlize }}">
    <header class="conference-full__header">
      <h1 class="conference-full__title"><span class="session-level">{{ .Params.audience }}</span> {{ .Title }}</h1>

      <ul class="conference-full__meta">
        <li class="conference-full__speakers conference-full__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-speaker" "alt" "") }}{{ .Params.speakers }} - {{ .Params.companies }}</li>
        <li class="conference-full__duration conference-full__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-timer" "alt" "") }}{{ .Params.duration }} </li>
        <li class="conference-full__themes conference-full__meta-item">{{ partial "icon-sessions" (dict "picto" "icons-tags" "alt" "") }}{{ .Params.themes }} </li>
      </ul>
    </header>
    <div class="conference-full__teaser">{{ .Params.teaser | markdownify }} </div>
    <div class="conference-full__details">
      <div class="conference-full__description">
        {{ with .Params.prerequisites }}
        <div class="conference-full__prerequisites"><h3>Pré-requis :</h3>
          {{ . | markdownify }} </div>
        {{ end }}
        {{ with .Params.plan }}
        <div class="conference-full__plan"><h3>La session parlera de :</h3>
          {{ . | markdownify }} </div>
        {{ end }}
        {{ with .Params.takeway }}
        <div class="conference-full__takeway"><h3>Vous aurez appris :</h3>
          {{ . | markdownify }} </div>
        {{ end }}
      </div>
      {{ .Content | safeHTML }}
      {{ with .Params.slides_files }}
      <div class="conference-full__slides"><h3>Support de la présentation :</h3>
        <a href="/programme/conferences/{{ . }}">Télécharger le support utilisé pendant la conférence.</a>
      </div>
      {{ end }}
      {{ with .Params.video }}
      <h3>Captation de la conférence :</h3>
      <div class="conference-full__video">
        <iframe src="https://www.youtube-nocookie.com/embed/{{.}}"
                title="YouTube video player" frameborder="0"
                allowfullscreen></iframe>
      </div>
      {{ end }}
    </div>
  </div>
</main>
{{ end }}

