/* CSS normalizer */
@import './imports/_normalize';
@import './imports/_fonts';
@import './imports/_breakpoints';
@import './imports/_include_media';

:root {
  --text-color: #1D2D35;
  --accent-color: #42afce;
  --accent-complement: #bd3c6d;
  --accent-complement-hover: #ac1950;
}

/* General base */
body {
  color: var(--text-color);
  background-color: #f5fbfd;
  font-family: inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  line-height: 1.55;
  font-feature-settings: normal;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--accent-color);
  &:hover {
    text-decoration: underline;
  }
}
h1 {
  line-height: 1.2;
}
.content-container {
  margin: auto;
  padding: 2rem 2rem;
  @include media('>=phablet') {
    width: 480px;
  }
  @include media('>=tablet') {
    width: 680px;
    padding: 2rem 4rem;
  }
  @include media('>=desktop') {
    width: 960px;
  }
  @include media('>=wide') {
    width: 1140px;
  }
}
.main-content {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}
.external-link:after {
  background-image: url("/icons/external.svg");
  background-size: 1rem 1rem;
  content: '';
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-left: 0.2rem;
}
.images-credits {
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.7;
}
/* END - General base */

/* MENU */
.menu {
  display: grid;
  grid-template-areas: "logo name"
    "logo menu";
  grid-template-columns: 68px 1fr;
  grid-column-gap: 2rem;
  margin-block-end: 2rem;
}

.menu__logo {
  background-color: #70dcff;
  grid-area: logo;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  padding: 0.5rem;

  > img {
    width: 100%;
  }
}

.menu__site-name {
  grid-area: name;
  font-weight: bolder;
  font-size: 1.5rem;
  letter-spacing: -2.5px;
  margin: 0;
  max-width: 300px;
  @include media('>=tablet') {
    max-width: 500px;
  }
  img {
    width: 100%;
  }
}

.menu__items {
  grid-area: menu;
  display: flex;
  gap: 1.2rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.menu__item {
  list-style: none;
}
.menu__item a {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: -1px;
}
.menu__item--submenu {
  position: relative;
  &:after {
    color: var(--accent-color);
    content: '✚';
    opacity: 0.7;
    font-size: 0.75em;
    padding-inline-start: 0.25rem;
  }
  &:hover .menu__items--submenu,
  &:focus .menu__items--submenu,
  .menu__items--submenu:focus-within {
    opacity: 1;
    transform: none;
    z-index: 10;
  }
}

.menu__items--submenu {
  position: absolute;
  inset-inline-end: 0;
  top: 100%;
  display: flex;
  flex-flow: column;
  padding: 1em;
  gap: 0.5em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 30px rgba(0,0,0,0.05);
  transition: all 0.10s ease;
  /* hide it by default */
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}
/* END - MENU */

/* Jumbotron */
.jumbotron {
  background-size: cover;
  aspect-ratio: 11/3;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-block-end: 2rem;
}
.jumbotron__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.jumbotron__subtitle {
  margin: 0;
}
.jumbotron__title-wrapper {
  position: relative;
  text-shadow: black 3px 3px 6px;
}
.jumbotron__title-wrapper-foreground {
  padding: 1rem 2rem;
  position: relative;
  z-index: 2;
}
.jumbotron__title-wrapper-background {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  content: '';
  bottom: 0;
  background: linear-gradient(0deg, rgba(1,31,40,0.7385154745491946) 0%, rgba(1,31,40,0.2595238779105392) 69%, rgba(1,31,40,0) 86%);
}
.jumbotron__credit-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.75rem;
}
.jumbotron__credit-icon-wrapper {
  inset-block-end: 1rem;
  inset-inline-end: 1rem;
}
.jumbotron__credit-icon {
  width: 1rem;
  height: 1rem;
  border: solid 1px white;
  border-radius: 1rem;
  fill: white;
  z-index: 2;
  position: relative;
}
.jumbotron__credit {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  transition: all 0.10s ease;
  /* hide it by default */
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  text-align: right;
  width: max-content;
  padding: 0.3rem 1.5rem 0.3rem 0.5rem;
  line-height: 1;
  color: black;
}
.jumbotron__credit-icon-wrapper:hover .jumbotron__credit,
.jumbotron__credit-icon-wrapper:focus .jumbotron__credit,
.jumbotron__credit:focus-within {
  position: absolute;
  opacity: 1;
  transform: none;
  background-color: white;
  border-radius: 1rem;
}
.jumbotron__credit-icon-wrapper:hover .jumbotron__credit-icon,
.jumbotron__credit-icon-wrapper:focus .jumbotron__credit-icon {
  fill: black;
}
/* END - Jumbotron */

/* Footer links */
.site-extra__links_collection {
  @include media('>=tablet') {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
.site-extra__column {
  @include media('>=tablet') {
    flex: 0 0 auto;
  }
}
.site-extra__column-title {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}
.site-extra__column-content {
  margin-top: 0;
  padding-inline-start: 1rem;
}
.site-extra__column-content--social {
  display: flex;
  padding: 0;
  gap: 0.5rem;
}
.site-extra__column-content-link {
  list-style: none;
  margin: 0;
}

/* END - Footer links */

/* News list */
.news-list__items {
  display: grid;
  grid-gap: 2rem;
  @include media('>=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }
}
.news-card {
  background-color: white;
  border: solid 1px #e9ecef;
  border-radius: 12px;
  font-size: 1rem;
  color: var(--text-color);
  display: block;
  padding: 1rem 1.5rem;
  &:hover,
  &:focus {
    text-decoration: none;
    .news-card__title {
      text-decoration: underline;
      color: var(--accent-color)
    }
  }
}
.news-card__title {
  margin-block-start: 0;
}
.news-card__meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}
.news-card__readmore {
  font-weight: bold;
}
/* END - News list */

/* News push */
.actualites-push {
  margin-block-end: 2rem;
}
/* END - News push */

/* News push list */
.actualites-push__items {
  display: grid;
  grid-gap: 2rem;
  @include media('>=desktop') {
    grid-template-columns: repeat(2, 1fr);
  }
}
.actualites-push__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 1rem;
}
.actualites-push__title {
  margin: 0;
}
/* END - News push list */

/* CTA */
.cta {
  background-color: var(--accent-complement);
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
}
.cta__title {
  margin: 0;
  margin-block-end: 0.6rem;
}
.cta__content {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  @include media('>=desktop') {
    flex-direction: row;
  }
}
.cta__link_wrapper {
  background-color: white;
  border: solid 2px transparent;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  @include media('>=desktop') {
    flex: 0 0 13rem;
  }
  color: var(--accent-complement);
  text-transform: uppercase;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    background-color: var(--accent-complement-hover);
    color: white;
    text-decoration: none;
  }
}
/* END - CTA */
