{{ define "main" }}
{{ $postDate := .Date.Format "2 Jan 2006" }}
{{ $subtitle := printf "%s / Lecture en %d minutes" $postDate .ReadingTime}}
<div class="news">
  {{ if .Params.image }}
  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" $subtitle "credits" .Params.credits) }}
  {{ else }}
  <h1 class="news__title">{{.Title}}</h1>
  <p class="news__meta">Lecture en {{ .ReadingTime }} minutes</p>
  {{ end }}

  <div class="news__content">
    {{ .Content }}
  </div>
</div>
{{ end }}
